/* [8. footer_line] */

.copyrights             { font-size: 14px; color:#fff; font-weight: 300; float: left; margin-left: 50px; }
.copyrights > a         { color:#baad8b; text-decoration: none; }
.copyrights > a:hover   { color:#FDDF00; }

.followers              { text-transform: uppercase; float: left; }
.followers > a          { font-size: 14px; color:#FDDF00; text-decoration: none; display: inline-block; margin-right: 14px; }
.followers > a:hover    { color:#fff; }