@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,600italic,600,300italic,300|Roboto+Slab:400,300);

body{ font-family: 'Open Sans', sans-serif;}

html{background:#fff;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}body,div,span,h1,h2,h3,h4,h5,h6,p,em,a,img,strong,sub,b,u,i,ul,li,form,label{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a:active,a:hover,a:focus,input:active,button:active,button,textarea:focus,input:focus{outline:0;}ins{text-decoration:none;}input,select,button,textarea{font-size:100%;margin:0;padding:0;}button,input,select,textarea{font-size:100%;vertical-align:baseline;margin:0;}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;overflow:visible;}button[disabled],html input[disabled]{cursor:default;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;margin:0;padding:0;}img{border:0;-ms-interpolation-mode:bicubic;}*{_nofocusline:expression(this.hideFocus=true);}.none{display:none;}

li{ list-style-type:none; margin: 0; }

.content { margin: 0 auto; width: 70%; margin-bottom: 50px; }

.content .snippet { margin: -1em 0 2.2em; padding: 1.3em; word-wrap:normal; }

.content li .snippet{ margin: 1em 0;}

#layout { padding-left: 0; left: 246px;  left: 0; }
#layout.active{ padding-left: 246px; position: relative; }

#main{ width: 100%; }

h1{ color:#000; font-size: 48px; font-weight: 300; line-height: 54px; margin-bottom: 10px; }
h2{ background: url(../images/ico-mark.png) 0 4px no-repeat; color:#000; font-size: 30px; font-weight: 600; line-height: 34px; margin:0 0 25px -63px; padding-left: 63px; position: relative; }
h3{ color:#000; font-size: 24px; font-weight: 600; line-height: 30px; margin: 0 0 15px; }
h4{ color:#000; font-size: 18px; font-weight: 600; line-height: 31px; margin: 0 0 12px; }
h5{ color:#fff; font-size: 14px; font-weight: 600; margin-bottom: 20px; line-height: 14px; }

#menu { margin-left: -246px; width: 246px; position: fixed; top: 0; left: 0; bottom: 0; z-index: 1000; background: #1B1E24; overflow-y: auto; -webkit-overflow-scroll: touch; }
#menu.active{ left: 246px; }

#menu a span { color: #ccc; display: block; font-size: 0.8em; font-weight: 600; text-transform: none; }

#menu .logo{ background-color: #22262E; height: 61px; line-height: 61px; padding: 0 27px; }
#menu .logo a{ font-weight: 600; color:#fff; text-decoration: none; font-size: 18px; }
#menu .logo a img{ display: inline-block; margin-right: 20px; vertical-align: middle; position: relative; top: -2px; }

.menu-links{ padding: 52px 31px 10px; }
.menu-links ul{ margin-bottom: 25px; }
.menu-links li{ line-height: 20px; font-size: 14px; font-weight: 300; padding: 0 11px; margin: 1px 0 10px; }
.menu-links li a{ color:#b2b2b2; text-decoration: none; }
.menu-links li a.selected,
.menu-links li a:hover{ color:#ff7676;}

.slideshow-bar{ height: 61px; line-height: 61px; background-color: #E5E9EC; width: 100%; position: fixed; top: 0; left: 0; z-index: 999; }

#menu-link{ margin-left: 37px; display: inline-block; }

.active #menu-link{ margin-left: 283px; }

.slideshow-version{ margin: -2px 21px 0 0; height: 61px; float: right; }
.slideshow-version p, .slideshow-version a{ display: inline-block; vertical-align: middle; font-size: 14px; font-weight: 300; line-height: 59px; }
.slideshow-version p{ margin-right: 31px;}
.slideshow-version a{ margin-left: 8px; background: url(../images/slide-arrow.png) 0 0 no-repeat; width: 33px; height: 32px; }
.slideshow-version a.prev{ background-position: 0 0; }
.slideshow-version a.next{ background-position: 0 -42px; }

.content{ margin: 0 4%; padding: 40px 0; width: 92%; font-size: 16px; line-height: 28px; color:#4c4c4c; font-weight: 300;  border-bottom: 1px dotted  #000; }
.content.last{ border-bottom: 0; }
.content > div{ padding: 0 63px; }
.content p{ padding-bottom: 30px; }
.content ul, .content ol{ padding: 0 0 30px 45px; margin: 0; }

.content ul li{ list-style-type: circle; }
.content ol li{ list-style-type: decimal; }
.content ol li img{ display: inline-block; vertical-align: middle; margin: 0 3px; }
.content a{ color:#f83700; text-decoration: none; }
.content a:hover{ text-decoration: underline; }

.col-2{ width: 45%; margin-right: 5%; display: inline-block; vertical-align: top; }
.col-2.second{ margin-right: 0; }

.header{ padding: 150px 0 100px; }
.header small{ font-size: 18px; display: block; color:#f83700; margin-bottom: 35px; }
.header p{ font-size: 16px; line-height: 28px; color:#4c4c4c; width: 80%; }

.question{ background: url(../images/ico-question.png) 0 0 no-repeat; padding-left: 63px; margin-left: -63px;}
.warning{ background: url(../images/ico-warn.png) 0 0 no-repeat; padding-left: 63px; margin-left: -63px;}

#footer{ border-top: 1px dotted #8C8C8C; padding: 18px 0 30px; font-size: 14px; line-height: 28px; color:#b2b2b2; font-weight: 300; margin: 0 63px; }
#footer a{ color:#aaa; text-decoration: none; }
#footer a:hover{ color:#333; }


/*  Responsive Styles  */

@media only screen and (max-width: 700px) {

    .active .slideshow-version p:first-child{ display: none; }

    #layout{ padding-left: 0; }
    #menu{ left: 0; }
    #menu-link{ margin-left: 37px; }
}

@media only screen and (max-width: 500px) {
    .slideshow-version p:first-child{ display: none; }

    .active .slideshow-version{ display: none; }

    .header{ padding: 85px 0 30px; }

    .content > div{ padding: 0 40px; }

    h1{ font-size: 40px; line-height: 44px; }
    h2, h3, .warning, .question{ margin-left: -40px; padding-left: 40px; }
}

pre { word-wrap: break-word; padding: 6px 10px; line-height: 1.3em; margin-bottom: 20px; white-space: pre-line; }

code { border: none; margin: 0 2px; font-size: 0.8em; padding: 0.3em 0.6em; white-space: nowrap; position: relative; top: -2px; }

pre code { padding: 0; margin: 0; font-size: 0.95em; white-space: pre-wrap; }

mark{ background-color: #FF7676; color:#fff; margin: 0 2px; font-size: 0.8em; padding: 0 0.6em; white-space: nowrap;  font-size: 13px; }
pre,
code { font-family: Consolas, 'Liberation Mono', Courier, monospace; color: #333; background: #E5E9EC; word-wrap:normal; font-size: 13px; }
pre .comment { color: #999 }
pre .tag,
pre .tag-name,
pre .support.tag-name { color: rgb(85, 85, 85) }
pre .constant.numeric,
pre .keyword.unit,
pre .hex-color { font-weight: normal; color: #099; }
pre .string,
pre .support.value { font-weight: normal; color: #3b8bba; }

.codes { width:100%; background:#f6f6f6; font-family: Consolas, 'Liberation Mono', Courier, monospace; color: #333; }
.codes td { padding:10px }
.codes tr > td:first-child { width:50px; background:#eee; text-align:center; }

.codes tr > td span { color:#bbb }